@import '../../../shared/styles/colors.scss';

.c-main-div
{
    background-color: $secondary-dark-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-editor-line
{
    width: 90%;
}