<div class="c-main-div">
    <div class="top-div">
        <div class="top-left-div"></div>
        <div class="top-right-div">
            <div class="editor-header"></div>
            <div class="editor-content">
                <div class="editor">
                    <div class="editor-line">
                        <div class="editor-line-n">0</div>
                        <div class="editor-line-content">
                            <div class="editor-line-arrow">
                                <svg class="editor-line-arrow-icon"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 -960 960 960">
                                     <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                                </svg>
                            </div>
                            <div class="editor-line-indent-1"></div>
                            <div class="editor-line-name">Component</div>
                            <div class="editor-line-type">div</div>
                            <div class="editor-line-id">id</div>
                            <div class="editor-line-class">class</div>
                        </div>
                    </div>
                    <div class="editor-line">
                        <div class="editor-line-n">1</div>
                        <div class="editor-line-content">
                            <div class="editor-line-arrow">
                                <svg class="editor-line-arrow-icon"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 -960 960 960">
                                     <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                                </svg>
                            </div>
                            <div class="editor-line-indent-1"></div>
                            <div class="editor-line-name-undefined">Component</div>
                            <div class="editor-line-type-undefined">div</div>
                            <div class="editor-line-id-undefined">id</div>
                            <div class="editor-line-class-undefined">class</div>
                        </div>
                    </div>
                    <div class="editor-line-properties">
                        <div class="editor-line-properties-identification">
                            <div class="identification-header">Identification</div>
                            <div class="identification-content">
                                <div class="identification-content-left-div">
                                    <div class="identification-prop-first">Component name</div>
                                    <div class="identification-prop">Type</div>
                                    <div class="identification-prop">Identification</div>
                                    <div class="identification-prop-last">Class</div>
                                </div>
                                <div class="identification-content-right-div">
                                    <div id="primary-01" class="identification-value-first">Button</div>
                                    <div id="info-01" class="identification-value">div</div>
                                    <div id="warning-01"class="identification-value">#0045</div>
                                    <div id="success-01"class="identification-value-last">button-div</div>
                                </div>
                            </div>
                        </div>
                        <div class="editor-line-properties-attributes">
                            <div class="attributes-header">Attributes</div>
                            <div class="attributes-content">
                                <div class="editor-line-properties-attributes-angular">
                                    <div class="angular-header"></div>
                                    <div class="angular-content"></div>
                                </div>
                                <div class="editor-line-properties-attributes-regular">
                                    <div class="regular-header"></div>
                                    <div class="regular-content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="editor-line-properties-styles">
                            <div class="styles-header">Styles</div>
                            <div class="styles-content"></div>
                        </div>
                    </div>
                    <div class="editor-sibling-line">
                        <div class="editor-line-n">2</div>
                        <div class="editor-line-content">
                            <div class="editor-line-indent-2"></div>
                            <div class="editor-line-add">
                                <svg class="editor-line-add-icon"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 -960 960 960">
                                     <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                                </svg>
                            </div>
                            <div class="editor-line-arrow">
                                <svg class="editor-line-arrow-icon"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 -960 960 960">
                                     <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="editor-child-line">
                        <div class="editor-line-n">3</div>
                        <div class="editor-line-content">
                            <div class="editor-line-indent-2"></div>
                            <div class="editor-line-add">
                                <svg class="editor-line-add-icon"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 -960 960 960">
                                     <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                                </svg>
                            </div>
                            <div class="editor-line-arrow">
                                <svg class="editor-line-arrow-icon"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 -960 960 960">
                                     <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor-footer"></div>
        </div>
    </div>
    <div class="bottom-div"></div>
</div>
