@import '../../../shared/styles/colors.scss';

.c-main-div
{
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    background-color: $secondary-dark-color;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colors-div
{
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    background-color: $primary-dark-color;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
}

.color-designer
{
    width: 70%;
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-pattern-div
{
    width: fit-content;
    // height: 80%;
    background-color: $primary-dark-color;
    flex-grow: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

//PRIMARY LIGHT THEME
$dark-color: #121212;
$light-color: white;
// $primary-color: #39ace7;
$primary-color: #6366f1;
$primary-light-color: mix($light-color, $primary-color, 92%);
$font-default-light-color: mix($dark-color, $primary-color, 60%);
$font-hover-light-color: mix($dark-color, $primary-color, 70%);
$font-active-light-color: mix($dark-color, $primary-color, 80%);
$font-selected-light-color: mix($dark-color, $primary-color, 0%);
$font-disabled-light-color: mix($dark-color, $primary-color, 50%);
$info-font-light-color: rgb(5,152,195);
$info-background-light-color: mix($info-font-light-color, $primary-light-color, 20%);
$success-font-light-color: rgb(5,201,119);
$success-background-light-color: mix($success-font-light-color, $primary-light-color, 20%);
$warning-font-light-color: rgb(243,137,9);
$warning-background-light-color: mix($warning-font-light-color, $primary-light-color, 20%);
$error-font-light-color: rgb(230,76,72);
$error-background-light-color: mix($error-font-light-color, $primary-light-color, 20%);

//PRIMARY DARK THEME
$primary-dark-color: mix($dark-color, $primary-color, 92%);
$secondary-dark-color: lighten($primary-dark-color, 10%);
$font-default-dark-color: mix($light-color, $primary-color, 60%);
$font-hover-dark-color: mix($light-color, $primary-color, 70%);
$font-active-dark-color: mix($light-color, $primary-color, 80%);
$font-selected-dark-color: mix($light-color, $primary-color, 0%);
$font-disabled-dark-color: mix($light-color, $primary-color, 50%);
$info-font-dark-color: rgb(5,152,195);
$info-background-dark-color: mix($info-font-dark-color, $primary-dark-color, 20%);
$success-font-dark-color: rgb(5,201,119);
$success-background-dark-color: mix($success-font-dark-color, $primary-dark-color, 20%);
$warning-font-dark-color: rgb(243,137,9);
$warning-background-dark-color: mix($warning-font-dark-color, $primary-dark-color, 20%);
$error-font-dark-color: rgb(230,76,72);
$error-background-dark-color: mix($error-font-dark-color, $primary-dark-color, 20%);

.color-pattern-left-div
{
    width: 30rem;
    height: 100%;
    border-radius: 0.375rem;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.primary-lt-10-div
{
    height: 10%;
    width: 100%;
    border-radius: 0.375rem 0.375rem 0 0;
    background-color: $primary-color;
}

.primary-lt-30-div
{
    height: 30%;
    width: 100%;
    background-color: darken($primary-light-color, 10%);
}

.primary-lt-60-div
{
    height: 60%;
    width: 100%;
    border-radius: 0 0 0.375rem 0.375rem;
    background-color: $primary-light-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.color-pattern-right-div
{
    width: 30rem;
    height: 100%;
    border-radius: 0.375rem;
    border: 1px solid $secondary-dark-color;
}

.primary-dt-10-div
{
    height: 10%;
    width: 100%;
    border-radius: 0.375rem 0.375rem 0 0;
    background-color: $primary-color;
}

.primary-dt-30-div
{
    height: 30%;
    width: 100%;
    background-color: lighten($primary-dark-color, 10%);
}

.primary-dt-60-div
{
    height: 60%;
    width: 100%;
    border-radius: 0 0 0.375rem 0.375rem;
    background-color: $primary-dark-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


//DARK THEME DEFAULT
.primary-dt-60-left-div
{
    height: calc(100% - 2rem);
    width: fit-content;
    // background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.primary-dt-60-right-div
{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    padding-top: 1.5rem;
    gap: 0.5rem;
}

.primary-dt-60-d1
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    border: 1px solid lighten($primary-dark-color, 10%);
    background-color: $primary-dark-color;
}

.primary-dt-60-d2
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    background-color: lighten($primary-dark-color, 2%);
}

.primary-dt-60-d3
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    background-color: lighten($primary-dark-color, 3%);
}

.primary-dt-60-d4
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    background-color: lighten($primary-dark-color, 5%);
}

.primary-dt-font-default
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-default-dark-color;
}

.primary-dt-font-hover
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-hover-dark-color;
}

.primary-dt-font-active
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-active-dark-color;
}

.primary-dt-font-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-selected-dark-color;
}

.primary-dt-font-disabled
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-disabled-dark-color;
}

.primary-dt-outlined-button-default
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-default-dark-color;
    border: 1px solid $font-default-dark-color;
    border-radius: 0.375rem;
}

.primary-dt-outlined-button-primary
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-selected-dark-color;
    border: 1px solid $font-selected-dark-color;
    border-radius: 0.375rem;
}

.primary-dt-filled-button-default
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $primary-dark-color;
    background-color: $font-default-dark-color;
    border-radius: 0.375rem;
}

.primary-dt-filled-button-primary
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $primary-dark-color;
    background-color: $primary-color;
    border-radius: 0.375rem;
}

.primary-dt-colors-div
{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.primary-dt-info
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $info-font-dark-color;
    border: 1px solid $info-font-dark-color;
    background-color: $info-background-dark-color;
    border-radius: 0.375rem;
}

.primary-dt-success
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $success-font-dark-color;
    border: 1px solid $success-font-dark-color;
    background-color: $success-background-dark-color;
    border-radius: 0.375rem;
}

.primary-dt-warning
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $warning-font-dark-color;
    border: 1px solid $warning-font-dark-color;
    background-color: $warning-background-dark-color;
    border-radius: 0.375rem;
}

.primary-dt-error
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $error-font-dark-color;
    border: 1px solid $error-font-dark-color;
    background-color: $error-background-dark-color;
    border-radius: 0.375rem;
}

//LIGHT THEME DEFAULT
.primary-lt-60-left-div
{
    height: calc(100% - 2rem);
    width: fit-content;
    // background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.primary-lt-60-right-div
{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    padding-top: 1.5rem;
    gap: 0.5rem;
}

.primary-lt-60-d1
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    border: 1px solid darken($primary-light-color, 10%);
    background-color: $primary-light-color;
}

.primary-lt-60-d2
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    background-color: darken($primary-light-color, 2%);
}

.primary-lt-60-d3
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    background-color: darken($primary-light-color, 3%);
}

.primary-lt-60-d4
{
    height: 6rem;
    width: 6rem;
    border-radius: 0.375rem;
    background-color: darken($primary-light-color, 5%);
}

.primary-lt-font-default
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-default-light-color;
}

.primary-lt-font-hover
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-hover-light-color;
}

.primary-lt-font-active
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-active-light-color;
}

.primary-lt-font-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-selected-light-color;
}

.primary-lt-font-disabled
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-disabled-light-color;
}

.primary-lt-outlined-button-default
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-default-light-color;
    border: 1px solid $font-default-light-color;
    border-radius: 0.375rem;
}

.primary-lt-outlined-button-primary
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $font-selected-light-color;
    border: 1px solid $font-selected-light-color;
    border-radius: 0.375rem;
}

.primary-lt-filled-button-default
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $primary-light-color;
    background-color: $font-default-light-color;
    border-radius: 0.375rem;
}

.primary-lt-filled-button-primary
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $primary-light-color;
    background-color: $primary-color;
    border-radius: 0.375rem;
}

.primary-lt-colors-div
{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.primary-lt-info
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $info-font-light-color;
    border: 1px solid $info-font-light-color;
    background-color: $info-background-light-color;
    border-radius: 0.375rem;
}

.primary-lt-success
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $success-font-light-color;
    border: 1px solid $success-font-light-color;
    background-color: $success-background-light-color;
    border-radius: 0.375rem;
}

.primary-lt-warning
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $warning-font-light-color;
    border: 1px solid $warning-font-light-color;
    background-color: $warning-background-light-color;
    border-radius: 0.375rem;
}

.primary-lt-error
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $error-font-light-color;
    border: 1px solid $error-font-light-color;
    background-color: $error-background-light-color;
    border-radius: 0.375rem;
}
