<div class="c-main-div">
    <div class="colors-div">
        <div class="color-designer">
            <div class="color-pick-div">
                <div class="color-picker">
                    <div class="color-look"></div>
                    <input class="color-input" type="color">
                    <label class="color-name">Color name</label>
                </div>
            </div>
            <div class="color-pattern-div">
                <div class="color-pattern-left-div">
                    <div class="primary-lt-10-div"></div>
                    <div class="primary-lt-30-div"></div>
                    <div class="primary-lt-60-div"></div>
                </div>
                <div class="color-pattern-right-div">
                    <div class="primary-dt-10-div"></div>
                    <div class="primary-dt-30-div"></div>
                    <div class="primary-dt-60-div"></div>
                </div>
            </div>
        </div>

    </div>      
</div>

