<div class="c-main-div">
    <div class="colors-div">
        <div class="color-designer">
            <div class="color-pattern-div">
                <div class="color-pattern-left-div">
                    <div class="primary-lt-10-div"></div>
                    <div class="primary-lt-30-div"></div>
                    <div class="primary-lt-60-div">
                        <div class="primary-lt-60-left-div">
                            <div class="primary-lt-60-d1"></div>
                            <div class="primary-lt-60-d2"></div>
                            <div class="primary-lt-60-d3"></div>
                            <div class="primary-lt-60-d4"></div>
                        </div>
                        <div class="primary-lt-60-right-div">
                            <div class="primary-lt-font-default">Default</div>
                            <div class="primary-lt-font-hover">Hover</div>
                            <div class="primary-lt-font-active">Active</div>
                            <div class="primary-lt-font-selected">Selected</div>
                            <div class="primary-lt-font-disabled">Disabled</div>
                            <div class="primary-lt-outlined-button-default">Outlined default</div>
                            <div class="primary-lt-outlined-button-primary">Outlined primary</div>
                            <div class="primary-lt-filled-button-default">Filled default</div>
                            <div class="primary-lt-filled-button-primary">Filled primary</div>
                            <div class="primary-lt-colors-div">
                                <div class="primary-lt-info">Info</div>
                                <div class="primary-lt-success">Success</div>
                                <div class="primary-lt-warning">Warning</div>
                                <div class="primary-lt-error">Error</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="color-pattern-right-div">
                    <div class="primary-dt-10-div"></div>
                    <div class="primary-dt-30-div"></div>
                    <div class="primary-dt-60-div">
                        <div class="primary-dt-60-left-div">
                            <div class="primary-dt-60-d1"></div>
                            <div class="primary-dt-60-d2"></div>
                            <div class="primary-dt-60-d3"></div>
                            <div class="primary-dt-60-d4"></div>
                        </div>
                        <div class="primary-dt-60-right-div">
                            <div class="primary-dt-font-default">Default</div>
                            <div class="primary-dt-font-hover">Hover</div>
                            <div class="primary-dt-font-active">Active</div>
                            <div class="primary-dt-font-selected">Selected</div>
                            <div class="primary-dt-font-disabled">Disabled</div>
                            <div class="primary-dt-outlined-button-default">Outlined default</div>
                            <div class="primary-dt-outlined-button-primary">Outlined primary</div>
                            <div class="primary-dt-filled-button-default">Filled default</div>
                            <div class="primary-dt-filled-button-primary">Filled primary</div>
                            <div class="primary-dt-colors-div">
                                <div class="primary-dt-info">Info</div>
                            <div class="primary-dt-success">Success</div>
                            <div class="primary-dt-warning">Warning</div>
                            <div class="primary-dt-error">Error</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>      
</div>

