<div class="main-line">
    <div class="main-line-leading-div">{{mainlineIndex}}</div>
    <div class="main-line-content-div">
        <div class="main-line-content-add-right-icon-div"
             (mouseenter)="onAddArrowMouseEnter()"
             (mouseleave)="onAddArrowMouseLeave()">
            <svg *ngIf="addLineHover"
                 class="double-arrow-down-icon"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z"/>
            </svg>
        </div>
        <div class="main-line-content-add-down-icon-div"
             (mouseenter)="onAddArrowMouseEnter()"
             (mouseleave)="onAddArrowMouseLeave()">
            <svg *ngIf="addLineHover"
                 class="double-arrow-right-icon"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/>
            </svg>
        </div>
        <div class="main-line-content-expand-arrow-icon-div"
             (click)="onExpandArrowClick()">
            <svg *ngIf="!mainlineExpanded"
                 class="arrow-icon"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
            <svg *ngIf="mainlineExpanded"
                 class="arrow-icon"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </div>
        <div class="main-line-content-content-div">
          <div class="main-line-content-indent-01"></div>  
          <input type="text" 
                 [ngClass]="componentNameClass()"
                 autoSizeInput
                 [(ngModel)]="inputComponentName"
                 (focus)="onComponentNameFocus()"
                 (blur)="onComponentNameBlur()"
                 (input)="onComponentNameInput()"
                 [extraWidth]="-13"/>
          <input type="text" 
                 [ngClass]="divNameClass()"
                 autoSizeInput
                 [(ngModel)]="inputDivName"
                 (focus)="onDivNameFocus()"
                 (blur)="onDivNameBlur()"
                 (input)="onDivNameInput()"
                 [extraWidth]="-13"/>
          <input type="text" 
                 [ngClass]="idNameClass()"
                 autoSizeInput
                 [(ngModel)]="inputIdName"
                 (focus)="onIdNameFocus()"
                 (blur)="onIdNameBlur()"
                 (input)="onIdNameInput()"
                 [extraWidth]="-13"/>
          <input type="text" 
                 [ngClass]="classNameClass()"
                 autoSizeInput
                 [(ngModel)]="inputClassName"
                 (focus)="onClassNameFocus()"
                 (blur)="onClassNameBlur()"
                 (input)="onClassNameInput()"
                 (keydown)="onClassNameKeyDown()"
                 [extraWidth]="-13"/>
          <div class="main-line-content-attributes-number">4</div>
          <div class="main-line-content-directives-number">1</div>
          <div class="main-line-content">Content</div>
        </div>
    </div>
    <div class="main-line-trailing-div">
        <div class="main-line-trailing-div-left">
          <div class="height">14px</div>
          <div class="width">60px</div>
          <div class="display">Fb</div>
          <div class="background-color"></div>
          <div class="border">1px</div>
          <div class="border-color"></div>
          <div class="font-size">14px</div>
          <div class="font-color"></div>
        </div>
        <div class="main-line-trailing-div-right">
          <div class="delete-line">
               <svg class="delete-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
               </svg>
          </div>
        </div>
    </div>
</div>
